header {
  background-color: #282c34;
  color: white;
  margin-bottom: 20px;
  padding: 20px 0;
  text-align: center;
}

main {
    margin: 1rem auto;
    max-width: 800px;
    padding: 0 20px;
}

.form-control > * + *,
.form-control__radio + .form-control__radio {
    margin-top: 0.5rem;
}

.form-control__text > label {
    display: table;
}

.result-wrapper {
    margin-top: 6rem;
}

textarea,
output {
    width: 100%;
    height: 6.4rem;
}

#result {
    display: block;
    border: solid 1px #282c34;
    max-width: 800px;
    overflow: auto;
    padding: 1.6rem;
    text-align: left;
    white-space: pre;
}
