.App {
    text-align: center;
}

header {
    background-color: #282c34;
    color: white;
    margin-bottom: 20px;
    padding: 20px 0;
}

form {
    margin: 1rem auto;
    max-width: 800px;
    padding: 0 20px;
}

textarea {
    height: 4rem;
    width: 100%;
}

#result {
    border: solid 1px #282c34;
    height: auto;
    margin: 1rem auto;
    max-width: 800px;
    overflow: auto;
    padding: 1rem;
    text-align: left;
    white-space: pre;
}
